 <div class="container-fluid">
    <div class="content-blck">
      <div class="row spec-open">
        <div class="col-sm-24 document-col">
          <div class="document-menu">
            <ngb-tabset class="document-menu">
              <ngb-tab class="document-elem document-link" title={{documentTabs[0].title}}>
                <ng-template ngbTabContent>
                  <p>These tabs are displayed as pills...</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title={{documentTabs[1].title}}>
                <ng-template ngbTabContent>
                  <app-my-cars></app-my-cars>
                </ng-template>
              </ngb-tab>
              <ngb-tab title={{documentTabs[2].title}}>
                <ng-template ngbTabContent>
                  <p>These tabs are displayed as pills...</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title={{documentTabs[3].title}}>
                <ng-template ngbTabContent>
                  <p>These tabs are displayed as pills...</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title={{documentTabs[4].title}}>
                <ng-template ngbTabContent>
                  <p>These tabs are displayed as pills...</p>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
 </div>


